<h1>Login Form</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username" autocomplete="off">
    <input type="password" name="password" placeholder="Password" autocomplete="off">
    <button>Submit</button>
</form>

<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login"> login</a></li>
    <li><a href="/logout">logout</a></li>
</ul>
